@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Open Sans', sans-serif;
}

h1{
    color: #ffffff;
    padding: 20px 20px;
    background-color: #78909c;
    text-transform: uppercase;
    font-weight: 300;
}

body{
background: ##e0e0e0;
font-size: 14px;
line-height: 22px;
color: aliceblue;
}

table{
    border: 1px;
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 50%;transform: translate(-50%, -50%);
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 12px 12px 0 0;
    overflow: hidden;
    background: #fafafa;
    font-size: 16px;
    line-height: 22px;
    box-shadow: 0 5px 12px rgba(32,32,32,.3);
}

th,td{
padding: 15px 15px;
}

th{
    background: #78909c;
    color: #fafafa;
    text-transform: uppercase;
    font-weight: bold;
}

td{
    color: black;
    font-weight: 500;
}

img{
    border-radius:12px 12px 12px 12px ;
}

li{
    color: black;
    text-transform: capitalize;
    list-style: none;
    letter-spacing: 2px;
    margin: 20px 0;
    
}

li::before{
    content: "\1F4DA";
}

.image{
    margin: auto;
    padding: 0 0 0 250px;
}